*{
    margin: 0;
    padding: 0;
}
.login{
    height: 100%;
    width:100%;
    background-color: #34495e;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.login-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    background: white;
}