*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 70%;
    border: 2px solid white;
    border-radius: 30px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.navlist{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlist li{
    list-style: none;
    padding: 20px 45px;
}
nav li a{
    text-decoration: none;
    color: white;
}
nav li a:hover{
    text-decoration: none;
    color:grey;
}
#Search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.9) url('/Image/image3.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.btn{
    padding: 8px 20px;
    margin: 7px 2px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: orange;
    cursor: pointer;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}